html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #555;
  height: 100%;
}

h1 {
  margin-left: 0;
  margin-top: 5px;
  line-height: 1;
}

input {
  margin: 3px 0;
  padding: 5px;
  border: 1px solid #ccc;
}

input:hover {
  background-color: #fdfdfd;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 155, 255, 0.3);
}

.basket-item {
  padding: 5px;
  background-color: #f3f3f3;
  margin-bottom: 2px;
}

.fullscreen {
  width: 100%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.black {
  background-color: black;
}

.container {
  padding: 15px;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
}

.header {
  background-color: #333;
  color: white;
  margin: 0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.header a {
  color: lightgray;
}

.login {
  padding: 0;
  background-color: #f3f3f3;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);
}

.login-inner {
  padding: 20px 35px;
  margin:0;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.07);
}

.root {
  width: 100%;
  padding: 0;
  margin: 0;
}

.wide {
  width: 250px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  height: 36px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  background: #fbfbfb;
  margin: 0 12px 12px 0;
  padding: 10px;
}

.add-product{
  width: 350px;
  height: 30px;
  margin: 0;
  margin-right: 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

.add-button {
  height: 30px;
  width: 60px;
}

.delete {
  font-size: 1em;
  padding: 3px 7px;
  margin-right: 5px;
}
