html {
  height: 100%;
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  height: 100%;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: red;
}

button {
  border-radius: 4px;
  background-color: #222;
  color: white;
  border: none;
  padding: 6px 12px;
  outline: none;
  transition: all 0.4s;
  cursor: hand;
}

button:hover {
  background-color: #666;
  transition: all 0.4s;
}

h1 {
  margin-left: 0;
  margin-top: 5px;
  line-height: 1;
}

input {
  margin: 3px 0;
  padding: 5px;
  border: 1px solid #ddd;
}

select {
  padding: 4px;
  outline: none;
}

select option {
  padding: 2px;
  border: 1px solid red;
}

input:hover {
  background-color: #fdfdfd;
}

input:focus {
  outline: none;
  box-shadow: 0 0 9px rgba(255, 0, 0, 0.1);
}

textarea {
  padding: 5px;
  border: 1px solid #ddd;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 9px rgba(255, 0, 0, 0.1);
}

.user-section {
  float: right;
  text-align: right;
  margin-top: 20px;
}

.link {
  display: inline-block;
  padding: 15px;
}

.main {
  background-color: white;
  width: 100%;
}

.link-active {
  border-bottom: 3px solid red;
}

.link:hover {
  background-color: #555;
  border-bottom: 3px solid #555;
  transition: background-color 0.5s;
}

.link-active:hover {
  background-color: #555;
  border-bottom: 3px solid red;
  transition: background-color 0.5s;
}

.basket-item {
  padding: 7px 10px;
  border-bottom: 1px #eee solid;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-item-image {
  background-size: cover;
  width: 64px;
  height: 64px;
  background-color: #eee;
}

.fullscreen {
  width: 100%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.login-box {
  background-color: white;
  padding: 30px 50px;
  border-radius: 8px;
}

.black {
  background-color: black;
}

.container {
  padding: 15px;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
}

.header {
  background-color: #333;
  color: white;
  margin: 0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  height: 121px;
}

.header a {
  color: lightgray;
}

.login {
  padding: 0;
  background-color: #f3f3f3;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);
}

.login-inner {
  padding: 20px 35px;
  margin:0;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.07);
}

.buy {
  margin-top: 8px;
}

.root {
  width: 100%;
  padding: 0;
  margin: 0;
}

.wide {
  width: 350px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-details {
  display: flex;
  align-items: flex-start;
}

.product-details-data {
  padding-left: 25px;
}

.product {
  margin: 5px 20px 35px 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: translateY(20px);
}

.product-image {
  cursor: pointer;
  width: 300px;
  height: 450px;
  background-size: cover;
  background-position: center;
  transition: all 0.2s;
}

.product-image-noanim {
  background-color: #f6f6f6;
  width: 300px;
  height: 450px;
  background-size: cover;
}

.product-image:hover {
  transform: scale(1.03);
  opacity: 0.85;
}

.product-image-container {
  width: 300px;
  height: 450px;
  overflow: hidden;
  margin-bottom: 15px;
}

.search-input {
  width: 500px;
  margin-right: 5px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
}

.add-product {
  width: 500px;
  height: 30px;
  margin: 0;
  margin-right: 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

.add-product::placeholder {
  color: #bbb;
  font-size: 13px;
}

.footer {
  padding: 10px 0;
  font-size: 12.5px;
}
